:root {
    --height-header: 10vh;
    --min-height-header: 55px;
    --height-content: calc(100vh - var(--height-header));
    --max-height-content: calc(100vh - var(--min-height-header));
    --primary-color: #448c3f;
    --secondary-color: #086c9c;
    --third-color: #fc6c24;
    --fourth-color: #f43832;

    --background-light-color: #d7e0df;
    --background-mid-light-color: #c4cbca; 
    --background-dark-color: #222;

    --text-dark-color: #132E4E;
    --text-light-color: #B9D2EE;

    --panel-light-color: #b6bdbc;
    --panel-dark-color: #333;
}

* {
    font-family: Roboto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-light-color);
    color: var(--text-dark-color);
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: var(--height-header);
    min-height: var(--min-height-header);
    padding: 0 5%;
    font-size: 1.3rem;
    color: white;
    box-shadow: 0 0 15px 2px #000000;
}

.logo, .perfil {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo {
    height: calc(var(--height-header) - 10px);
    min-height: var(--min-height-header);
}

.nombre-logo {
    margin-left: 0.3em;
}

.img-perfil {
    height: calc(var(--height-header) - 20px);
    min-height: var(--min-height-header);
    border-radius: 50%;
    border: 5px solid black;
}

.nombre-perfil {
    margin-right: 0.5em;
}

.app {
    display: flex;
    height: var(--height-content);
    max-height: var(--max-height-content);
}

.navegacion {
    flex: 4 1 0;
    border-right: 1px solid var(--background-light-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: flex-start;
    overflow-y: auto;
}

.temas {
    flex: 1 1 33%;
    width: 100%;
    padding: 8%;
}

.temas h2 {
    font-size: 2.5em;
}

.temas ul {
    list-style: none;
}

.temas li {
    display: block;
    padding: 10px 20px;
    margin: 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
}

.temas li:hover {
    background-color: #ea1c0d;
}

.busqueda {
    flex: 1 1 67%;
    width: 80%;
    margin: 10%;
    padding: 3%;
    border-radius: 25px;
    background-color: var(--panel-light-color);
    overflow-y: auto;
}

.busqueda::-webkit-scrollbar{
    display: none;
}

.busqueda h2 {
    font-size: 1.2em;
    margin-bottom: 0.4em;
    margin-left: 10px;
}

.busqueda input[type="search"] {
    background-color: var(--background-light-color);
    border-color: transparent;
    color: black;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 1.2em;
    width: 95%;
    max-width: 95;
    margin-bottom: 0.8em;
    padding: 0 0.8rem;
}
.busqueda input[type="search"]:focus {
    outline: none;
    box-shadow: 0 0 10px #34343433;
}

.busqueda ul {
    list-style: none;
}

.busqueda li {
    display: block;
    width: 100%;
    padding: 20px 20px;
    margin: 10px 0;
    color: white;
    font-weight: bold;
    background-color: var(--secondary-color);
    border-radius: 20px;
    cursor: pointer;
}

.publicaciones {
    flex: 7 1 0;
    border-right: 1px solid var(--background-mid-light-color);
    border-left: 1px solid var(--background-mid-light-color);
    overflow-y: auto;
}

.mi-perfil {
    max-width: 100%;
    max-height: 60%;
    margin: 2% 3%;
    background-color: var(--panel-light-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

}
.image-container {
    flex: 1;
    text-align: center;
    max-height: 80%;
    max-width: 50%;
}

.mi-perfil img {
    border-radius: 50%;
    border: 3px solid black;
    object-fit: contain;
    max-width: 50%;
    height: 20%;
    max-height: 20%;
}
.mi-perfil button {
    margin-top: 10px;
    background-color: #0074D9;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.mi-perfil .input-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.mi-perfil h3 {
    font-size: 1.6em;
    margin-bottom: 5px;
}

.mi-perfil p {
    text-decoration: underline;
    cursor: pointer;
}

.comentarios {
    flex: 5 1 0;
    border-left: 1px solid var(--background-mid-light-color);
    overflow-y: auto;
}

footer {
    top: 50%;
    background: #333;
    color: #fff;

}